In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [32]:
with open("../result/resultSerialization_900000.txt", "r") as f:
        file = [s.strip().split("#") for s in f.readlines()]

In [33]:
df = pd.DataFrame(file)
new_header = df.iloc[0]
df = df[1:]
df.columns = new_header
df = df[["method", "size", "ser_time", "deser_time"]]
df = df.astype({"size": int, "ser_time": int, "deser_time": int})

In [34]:
df_avg = df.groupby(["size", "method"]).mean().reset_index()

In [35]:
df_avg

0    size       method  ser_time  deser_time
0  900000       "avro"     997.6      1599.0
1  900000    "bincode"     244.8       436.4
2  900000  "handcoded"     271.6       386.2
3  900000       "json"     845.8       765.0

In [36]:
df_avg.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>size</th>\n      <th>method</th>\n      <th>ser_time</th>\n      <th>deser_time</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>900000</td>\n      <td>"avro"</td>\n      <td>997.6</td>\n      <td>1599.0</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>900000</td>\n      <td>"bincode"</td>\n      <td>244.8</td>\n      <td>436.4</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>900000</td>\n      <td>"handcoded"</td>\n      <td>271.6</td>\n      <td>386.2</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>900000</td>\n      <td>"json"</td>\n      <td>845.8</td>\n      <td>765.0</td>\n    </tr>\n  </tbody>\n</table>'

In [46]:
from PyQt5.QtGui import QTextDocument
from PyQt5.QtPrintSupport import QPrinter
from PyQt5.QtWidgets import QApplication