In [229]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [230]:
with open("../loging.log", "r") as f:
    file = [s.strip().split("#") for s in f.readlines()]

In [231]:
file[0].insert(2, 'strategy')

In [232]:
df = pd.DataFrame(file)
header = df.iloc[0]

df = df[1:]
df.columns = header
type_map = {"method": "str"}
for h in header[2:]:
    type_map[h] = "int32"

In [233]:
df = df.astype(type_map)

In [234]:
df.head()

,datastructure,method,strategy,k,n_neighbors,n_batch,n_line_train0,n_line_train1,n_line_train2,n_line_train3,...,query_time7,predicition_time0,predicition_time1,predicition_time2,predicition_time3,predicition_time4,predicition_time5,predicition_time6,predicition_time7,total
1,[RustVector],"""deepcopy""",1,15000,30,2,12500,12500,12500,12500,...,330157,8,9,10,10,10,9,8,9,364929
2,[RustVector],"""deepcopy""",1,15000,30,2,12500,12500,12500,12500,...,331727,11,8,8,10,9,8,10,10,355291
3,[RustVector],"""deepcopy""",1,15000,30,2,12500,12500,12500,12500,...,371638,10,8,8,10,10,7,8,9,395825
4,[RustVector],"""deepcopy""",1,15000,30,2,12500,12500,12500,12500,...,437256,6,9,9,8,8,10,8,10,469582
5,[RustVector],"""deepcopy""",1,15000,30,2,12500,12500,12500,12500,...,418311,9,9,9,10,10,10,10,10,456031

In [235]:
df.columns

Index(['datastructure', 'method', 'strategy', 'k', 'n_neighbors', 'n_batch',
       'n_line_train0', 'n_line_train1', 'n_line_train2', 'n_line_train3',
       'n_line_train4', 'n_line_train5', 'n_line_train6', 'n_line_train7',
       'n_line_test0', 'n_line_test1', 'n_line_test2', 'n_line_test3',
       'n_line_test4', 'n_line_test5', 'n_line_test6', 'n_line_test7',
       'preprocess_time0', 'preprocess_time1', 'preprocess_time2',
       'preprocess_time3', 'preprocess_time4', 'preprocess_time5',
       'preprocess_time6', 'preprocess_time7', 'query_time0', 'query_time1',
       'query_time2', 'query_time3', 'query_time4', 'query_time5',
       'query_time6', 'query_time7', 'predicition_time0', 'predicition_time1',
       'predicition_time2', 'predicition_time3', 'predicition_time4',
       'predicition_time5', 'predicition_time6', 'predicition_time7', 'total'],
      dtype='object', name=0)

In [236]:
df["method"].unique()

array(['"deepcopy"', '"arc"'], dtype=object)

In [237]:
df["strategy"].unique()

array([1, 2])

In [238]:
df["n_batch"].unique()

array([2, 3])

In [239]:
df["n_neighbors"].unique()

array([30])

In [240]:
# method & n_batch & k -> total, preprocess_time, query_time, mean(total), mean(preprocess), mean(queer)

In [241]:
preprocess_cols = ["preprocess_time" + str(i) for i in range(8)]
query_cols = ["query_time" + str(i) for i in range(8)]
total_col = ["total"]

agg_v = df.groupby(["method", "strategy","n_batch", "k", "n_neighbors"])[preprocess_cols + query_cols + total_col]

In [242]:
agg_mean = agg_v.mean()

In [243]:
agg_mean.head()

0                                          preprocess_time0  preprocess_time1  \
method strategy n_batch k     n_neighbors
"arc"  2        2       15000 30                    38332.2           32256.4
                        20000 30                    43995.6           38785.6
                        25000 30                    53394.0           45057.2
                3       15000 30                    34063.8           29021.0
                        20000 30                    37925.2           32963.2

0                                          preprocess_time2  preprocess_time3  \
method strategy n_batch k     n_neighbors
"arc"  2        2       15000 30                    28929.4           29875.2
                        20000 30                    34646.8           35687.2
                        25000 30                    41562.2           42376.6
                3       15000 30                    26763.6           27462.6
                        20000 30                    28293.4           31136.4

0                                          preprocess_time4  preprocess_time5  \
method strategy n_batch k     n_neighbors
"arc"  2        2       15000 30                    28350.4           29998.2
                        20000 30                    33860.8           36294.2
                        25000 30                    39994.2           42530.0
                3       15000 30                    24985.2           27784.4
                        20000 30                    29497.6           31254.0

0                                          preprocess_time6  preprocess_time7  \
method strategy n_batch k     n_neighbors
"arc"  2        2       15000 30                    29461.6           30346.2
                        20000 30                    36481.2           36274.6
                        25000 30                    42677.8           43656.0
                3       15000 30                    27614.2           27749.6
                        20000 30                    31019.0           31646.4

0                                          query_time0  query_time1  \
method strategy n_batch k     n_neighbors
"arc"  2        2       15000 30              372639.8     375815.8
                        20000 30              532443.8     536369.2
                        25000 30              672701.6     676960.2
                3       15000 30              217716.4     221043.6
                        20000 30              265456.6     269319.2

0                                          query_time2  query_time3  \
method strategy n_batch k     n_neighbors
"arc"  2        2       15000 30              376648.6     376728.2
                        20000 30              532092.4     537349.4
                        25000 30              668591.4     679675.6
                3       15000 30              221206.8     221887.0
                        20000 30              267886.8     269772.6

0                                          query_time4  query_time5  \
method strategy n_batch k     n_neighbors
"arc"  2        2       15000 30              373840.4     377362.8
                        20000 30              533681.6     533262.2
                        25000 30              670455.2     677634.4
                3       15000 30              220415.2     222066.2
                        20000 30              268513.6     269525.0

0                                          query_time6  query_time7     total
method strategy n_batch k     n_neighbors
"arc"  2        2       15000 30              377762.2     377598.0  410990.8
                        20000 30              533725.6     537508.2  578508.0
                        25000 30              678157.2     672647.4  727532.2
                3       15000 30              221956.4     220690.0  251800.8
                        20000 30              270146.6     269460.8  303401.2

In [224]:
agg_reidx = agg_mean.reset_index(level=['method', "strategy", 'n_batch', 'k', 'n_neighbors'])

In [246]:
neighbor_impact = agg_reidx[(agg_reidx["method"] == '"deepcopy"') & (agg_reidx["strategy"] == 1) & (agg_reidx['n_batch'] == 2) & (agg_reidx['k'] == 15000)]

In [247]:
neighbor_impact

,method,strategy,n_batch,k,n_neighbors,preprocess_time0,preprocess_time1,preprocess_time2,preprocess_time3,preprocess_time4,...,preprocess_time7,query_time0,query_time1,query_time2,query_time3,query_time4,query_time5,query_time6,query_time7,total
6,"""deepcopy""",1,2,15000,30,32492.6,27347.6,24792.8,25098.8,24465.6,...,25168.0,374148.0,378403.4,379472.8,376953.0,379235.2,377140.2,378819.8,377817.8,408331.6

In [248]:
m_preprocess = list()
m_query = list()
for i in [10 , 20 , 30]:
    m_preprocess.append(neighbor_impact[neighbor_impact["n_neighbors"] == i][preprocess_cols].values.mean())
    m_query.append(neighbor_impact[neighbor_impact["n_neighbors"] == i][query_cols].values.mean())

/Users/sinsakuokazaki/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: RuntimeWarning: Mean of empty slice.
  after removing the cwd from sys.path.
/Users/sinsakuokazaki/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Users/sinsakuokazaki/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: RuntimeWarning: Mean of empty slice.
  """

In [249]:
m_preprocess

[nan, nan, 26206.475]

In [250]:
m_query

[nan, nan, 377748.775]

In [251]:
# n_neighbors does not have impact to runtime performance

In [258]:
agg_v = df.groupby(["method", "strategy", "n_batch", "k"])[preprocess_cols + query_cols + total_col]

In [259]:
agg_mean = agg_v.mean()

In [260]:
agg_mean

0                                  preprocess_time0  preprocess_time1  \
method     strategy n_batch k
"arc"      2        2       15000           38332.2           32256.4
                            20000           43995.6           38785.6
                            25000           53394.0           45057.2
                    3       15000           34063.8           29021.0
                            20000           37925.2           32963.2
                            25000           42295.8           36388.8
"deepcopy" 1        2       15000           32492.6           27347.6
                            20000           31031.8           26090.8
                    3       15000           21647.6           17318.2
                            20000           24713.2           20071.4
                            25000           28440.4           23775.0
           2        2       15000           29216.2           23602.2
                            20000           33007.8           27984.6
                            25000           37196.4           31526.4
                    3       15000           25952.4           23506.0
                            20000           30455.4           28053.4
                            25000           37982.6           33601.2

0                                  preprocess_time2  preprocess_time3  \
method     strategy n_batch k
"arc"      2        2       15000           28929.4           29875.2
                            20000           34646.8           35687.2
                            25000           41562.2           42376.6
                    3       15000           26763.6           27462.6
                            20000           28293.4           31136.4
                            25000           31076.2           34375.8
"deepcopy" 1        2       15000           24792.8           25098.8
                            20000           22940.0           24140.0
                    3       15000           14628.8           15131.6
                            20000           17824.8           18137.8
                            25000           21104.2           21448.0
           2        2       15000           22131.4           22527.8
                            20000           26436.6           27130.4
                            25000           28652.8           29829.8
                    3       15000           20828.4           21541.2
                            20000           24062.8           26460.2
                            25000           31729.8           34339.2

0                                  preprocess_time4  preprocess_time5  \
method     strategy n_batch k
"arc"      2        2       15000           28350.4           29998.2
                            20000           33860.8           36294.2
                            25000           39994.2           42530.0
                    3       15000           24985.2           27784.4
                            20000           29497.6           31254.0
                            25000           31187.6           34276.6
"deepcopy" 1        2       15000           24465.6           25292.2
                            20000           23062.6           24077.8
                    3       15000           14668.4           15507.4
                            20000           17308.0           18299.4
                            25000           20622.6           21362.6
           2        2       15000           21588.6           22167.6
                            20000           24477.8           27554.0
                            25000           27590.0           31105.6
                    3       15000           18062.4           22081.2
                            20000           24959.2           26378.2
                            25000           30184.0           34429.0

0                                  preprocess_time6  preprocess_time7  \
method     strategy n_batch k
"arc"      2        2       15000           29461.6           30346.2
                            20000           36481.2           36274.6
                            25000           42677.8           43656.0
                    3       15000           27614.2           27749.6
                            20000           31019.0           31646.4
                            25000           34359.6           34651.8
"deepcopy" 1        2       15000           24994.2           25168.0
                            20000           24030.2           23474.4
                    3       15000           15098.8           15123.0
                            20000           17926.0           18043.0
                            25000           21243.8           20694.8
           2        2       15000           22039.4           23226.8
                            20000           27539.8           27668.6
                            25000           30066.4           30877.6
                    3       15000           22119.4           22333.0
                            20000           25692.2           26865.0
                            25000           34592.2           34549.6

0                                  query_time0  query_time1  query_time2  \
method     strategy n_batch k
"arc"      2        2       15000     372639.8     375815.8     376648.6
                            20000     532443.8     536369.2     532092.4
                            25000     672701.6     676960.2     668591.4
                    3       15000     217716.4     221043.6     221206.8
                            20000     265456.6     269319.2     267886.8
                            25000     342133.0     346140.4     344864.4
"deepcopy" 1        2       15000     374148.0     378403.4     379472.8
                            20000     439018.8     441840.8     443409.0
                    3       15000     216716.0     219248.0     221071.4
                            20000     290322.8     292944.4     295196.4
                            25000     367367.0     369933.8     372002.6
           2        2       15000     328689.4     332288.6     331928.8
                            20000     443621.6     445792.8     445283.0
                            25000     572579.0     576554.0     575107.8
                    3       15000     219233.2     220949.2     220987.4
                            20000     295748.0     297354.2     296574.0
                            25000     451324.8     452037.8     450332.0

0                                  query_time3  query_time4  query_time5  \
method     strategy n_batch k
"arc"      2        2       15000     376728.2     373840.4     377362.8
                            20000     537349.4     533681.6     533262.2
                            25000     679675.6     670455.2     677634.4
                    3       15000     221887.0     220415.2     222066.2
                            20000     269772.6     268513.6     269525.0
                            25000     346986.4     345289.8     347364.2
"deepcopy" 1        2       15000     376953.0     379235.2     377140.2
                            20000     442924.6     443493.4     442807.0
                    3       15000     221015.6     221132.4     221127.6
                            20000     294793.0     295687.2     294564.6
                            25000     371476.0     372717.8     371385.0
           2        2       15000     332106.6     331105.6     333487.4
                            20000     445327.0     443154.4     448765.6
                            25000     575176.0     575222.8     577639.2
                    3       15000     220675.4     221038.6     221900.2
                            20000     296983.4     296415.4     297534.4
                            25000     451366.6     451455.6     452274.8

0                                  query_time6  query_time7     total
method     strategy n_batch k
"arc"      2        2       15000     377762.2     377598.0  410990.8
                            20000     533725.6     537508.2  578508.0
                            25000     678157.2     672647.4  727532.2
                    3       15000     221956.4     220690.0  251800.8
                            20000     270146.6     269460.8  303401.2
                            25000     346848.0     347624.2  384448.2
"deepcopy" 1        2       15000     378819.8     377817.8  408331.6
                            20000     443028.0     441743.4  470755.4
                    3       15000     221089.6     220670.0  238995.4
                            20000     295171.4     294870.4  315730.0
                            25000     372473.4     371391.4  396523.4
           2        2       15000     333002.0     332545.0  357918.8
                            20000     447483.6     447531.4  476991.6
                            25000     576339.8     574676.4  610327.8
                    3       15000     221466.6     221598.6  245200.0
                            20000     298596.8     298025.0  326235.0
                            25000     453560.6     452983.0  489322.4

In [255]:
agg_mean = agg_mean.reset_index(["method", "n_batch", "k"])

In [256]:
t_preprocess = np.array([])
t_query = np.array([])
for method in agg_mean['method'].unique():
    for n_batch in agg_mean['n_batch'].unique():
        for k in agg_mean['k'].unique():
            row = agg_mean[(agg_mean['method'] == method) & 
                           (agg_mean['n_batch'] == n_batch) &
                           (agg_mean['k'] == k)]
            t_preprocess = np.append(t_preprocess, row[preprocess_cols].values.sum())
            t_query = np.append(t_query, row[query_cols].values.sum())
agg_mean['preprocess_total'] = t_preprocess
agg_mean['query_total'] = t_query

In [257]:
agg_total = agg_mean[["method", "n_batch", "k", 'preprocess_total', 'query_total', 'total']]

In [195]:
agg_total

0       method  n_batch      k  preprocess_total   query_total         total
0        "arc"        2  15000     243500.866667  1.803465e+06  1.204130e+06
1        "arc"        2  20000     276663.733333  2.466885e+06  1.711282e+06
2        "arc"        2  25000     302898.333333  3.062645e+06  2.198249e+06
3        "arc"        3  15000     205806.066667  1.163168e+06  1.081962e+06
4        "arc"        3  20000     230007.933333  1.586542e+06  1.571847e+06
5        "arc"        3  25000     293772.266667  2.116045e+06  2.091132e+06
6   "deepcopy"        2  15000     179298.533333  1.743219e+06  1.243268e+06
7   "deepcopy"        2  20000     204610.266667  2.394429e+06  1.774848e+06
8   "deepcopy"        2  25000     234072.266667  3.071557e+06  2.334863e+06
9   "deepcopy"        3  15000     138504.066667  1.109259e+06  1.103603e+06
10  "deepcopy"        3  20000     160307.066667  1.559448e+06  1.609837e+06
11  "deepcopy"        3  25000     186666.800000  2.078761e+06  2.137189e+06